*,
*::before,
*::after {
  box-sizing:border-box;
}

body{
    margin: 0 0 0 0;
    font-family: 'Roboto Slab', serif;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

  nav{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      width:100%;
      height: 70px;
      z-index: 1000;
      position:fixed;
      top: 0px;
      padding: 0 10%;
      background-color: rgba(0, 0, 0, 0.8);
  }

 .gscroll{
      text-decoration: none;
      font-size: 30px;
      color: white;

  }

  .back{
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.712);
  }

  .back:hover{
    color:white;
}

  a{
    font-weight: 200;

  }

  h5{
    font-weight: 400;
  }

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    margin-top:2%;
    margin-bottom:2%;

}

h1{
    padding: 0;
    margin-top: 0;
    margin-bottom: -20px;
    text-align: center;
    font-size: 1000%;
    font-weight: lighter;
    font-family: 'Mr De Haviland', cursive, serif;
    font-family: 'Monsieur La Doulaise', cursive, serif;
}


.intro{
    position: relative;
    padding: 5%;
    background-color: rgb(224, 223, 221);
    background-image: url("imges/bg4.jpg");
    background-position: center;
    background-size:cover;
    box-shadow:0px 0px 10px 4px rgba(0, 0, 0, 0.15);
}

.intro::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.596);
}

.Juan, .info{ /*container for juan image flex so its always center*/
    position: relative;
    display:flex;
    justify-content: center;
}

.juan-pic{ /*juan image 100% so it always fits container Juan*/
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.19);
}

@media (min-width:1000px){ /*flex only when screen big*/
    .intro{
        padding: 5% 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .juan-pic{
        max-height: 500px;
    }
    
    .info{
        width: 40%;
    }
}

.info p{
    font-size: 150%;
    font-weight: 300;
    text-align: justify;
    line-height:1.5;
}

/*gallery styling part*/



.gallery{
    padding:10% 9% 2% 9%;
}

.rows{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.cols{
    display:flex;
    flex-direction: column;
    width: 32%;
}


/*overlay part*/


.image-box {
    position:relative;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5%;
    padding:0;
    overflow: hidden;
    display: flex;
    direction: column;

}

.overlay {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.4);
    opacity:0;
    transition: opacity 0.2s;
}

.overlay span{
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Mr De Haviland', cursive, serif;
    font-size: 400%;
    color: white;
    text-align: center;
    padding: 0 10px;
}

#damas, #lepanto{
    font-size: 300%;
}

.overlay p{
    color: white;
    padding: 0 30px;
    margin: 7px 0;
    text-align: center;
    line-height:1.4;
    font-size: 100%;
}

.image-box img{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    object-fit: contain;
    transform: scale(1);
    transition: transform .5s, filter .5s
}

.image-box:hover .overlay{
    opacity: 1;
}

.image-box:hover img{
    opacity: 1;
    transform: scale(1.09);
    filter: blur(2px);
}


@media (max-width:1400px){
    .overlay span, #damas, #lepanto{
        font-size: 250%;
    }
    .overlay p{
        font-size: 80%;
    }
}

@media (max-width:1150px){
    .overlay p{
        display: none;
    }
}

@media (max-width: 650px){
    .rows {
        flex-direction: column;
    }
    .gallery {
        padding:10% 10% 5% 10%;
    }
     .cols {
        width: 100%;
     }
     .overlay span, #damas, #lepanto{
        font-size: 400%;
    }
    .overlay p{
        display:block;
        font-size: 100%;
    }
}
