/* #navbarID{
    background-color: #8eee67;
} */

body{
    font-family: 'Anaheim', sans-serif;
}
.ui-widget { 
    font-family:'Anaheim', sans-serif;
    font-size: 1.2rem;
}

#navTitle, .titleFont{
    font-family: 'Nova Mono', monospace;
    color: #0B8D17;
}

/* link text in navbar */
#frog, #menu{ 
    color:#00B712;
}

/* div {
    border: 2px solid red;
} */

a {
    text-decoration: none;
}

.greenBG{
    background-color: #8eee67;
}

#frogLogo{
    width: 300px;
}

img{
    width:100%;
}